.pageAccueil {
    background-color: rgb(255, 250, 245);
    background-image:  linear-gradient( rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0) 10% ), url('../../img/foto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.titreAccueil {
    text-align: center;
    color: var(--blanc-color);
    text-shadow: 2px 2px 5px var(--noir-color);
}

.boutonsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo img {
    width: 300px;
    height: auto;
    margin-top: 50%;
}

.btn {
    width: 200px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.btnConnexion {
    background-color: var(--rouge-color);
    color: var(--blanc-color);
}

.btnInscription {
    background-color: var(--blanc-color);
    color: var(--rouge-color);
}

.btnConnexion:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btnInscription:hover {
  opacity: 0.9;
  cursor: pointer;
}



/* *******************
loading : source: https://codepen.io/Jacksondacoder/pen/VwGXNNO
******************* */
.center {
  /* margin: auto; */
  width: 60%;
  /* padding: 10px; */
}
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  animation: shadowExpandX 1s linear infinite alternate;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}

.message__chargement--style {
  text-align: center;
  color: var(--blanc-color);
  text-shadow: 2px 2px 5px var(--noir-color);
}