/* .formbouteille form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
} */


.couleur__lien--noir {
  color: var(--noir-color);
}

.ajouter__bouteille--titre {
    color: var(--rouge-color);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 55px;
}


.ajouter__bouteille--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.ajouter__bouteille--form h2 {
    font-size: 2rem;
}



.ajouter__bouteille--form input,select {
    border:none;
    border-bottom: 0.0625rem solid var(--gris-pale-color);
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent;
}



/* .ajouter__bouteille--form input::placeholder {
    color:var(--gris-pale-color)
} */

.ajouter__bouteille--form--row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
   
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
   
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 0.0625rem solid var(--gris-pale-color);
    outline: 0;
    font-size: 17px;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: var(--gris-pale-color);
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #800330, #e84782);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #800330;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


.suggestion{
  padding: 5px;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  /* top: 31px; */
  width: 500px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  max-height: 300px;
  overflow: auto;
  margin-top: 16px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.react-autosuggest__suggestions-list{
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
}

.react-autosuggest__input{
  width: 500px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}