.modalInfos {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5)
}

.modalInfos__infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        gap: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: var(--blanc-color);
        padding: 30px 50px;
        border-radius: 10px;
}

.modalInfos__infos--message {
    color: var(--noir-color);
    font-size: 16px;
}

.modalInfos__nom--message {
  color: var(--rouge-color);
  font-weight: bold;
  font-size: 19px;
}