.inscription__header {
    background-image: url('../../img/foto.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    gap: 40px;
}

.inscription__header img {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
}


.inscription__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}


.inscription__titre {
    color: var(--rouge-color);
    color: var(--blanc-color);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 30px;
    text-shadow: 1px 1px 5px var(--noir-color);
}

.inscription__input {
    border: none;
    border-bottom: 1px solid var(--gris-pale-color);;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent;
}

.inscription__input::placeholder {
    color: var(--gris-pale-color);
}

.inscription__bouton {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    text-align: center;
}

.inscription__bouton--btn {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    background-color: var(--rouge-color);
    color: var(--blanc-color);
}

.inscription__bouton--btn:hover {
    opacity: 0.9;
}

.inscription__bouton a {
    color: var(--rouge-color);
    text-decoration: none;
    font-weight: bold;
}

.inscription__bouton a:hover {
    opacity: 0.9;
}

.logo__inscription--hover:hover{
  transform: scale(1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}